In [1]:
import pandas as pd 
import numpy as np

In [8]:
pd.__version__

'1.4.3'

In [5]:
data = pd.Series([5,24])

In [6]:
data

0     5
1    24
dtype: int64

In [7]:
data = pd.Series([5.6,3.5,0.93,6.32])

In [9]:
data

0    5.60
1    3.50
2    0.93
3    6.32
dtype: float64

In [10]:
data.values

array([5.6 , 3.5 , 0.93, 6.32])

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
data[3]

6.32

In [16]:
data[1:66]

1    3.50
2    0.93
3    6.32
dtype: float64

In [25]:
data = pd.Series([3.5,5.33,9.0,0.3],index = ['a','b','c','d'])

In [26]:
data

a    3.50
b    5.33
c    9.00
d    0.30
dtype: float64

In [30]:
data ['b':'d']

b    5.33
c    9.00
d    0.30
dtype: float64

In [41]:
data =pd.Series(['6','63','3','53'],index=[1,2,3,4])

In [42]:
data

1     6
2    63
3     3
4    53
dtype: object

In [2]:
#Series dictionary .... 
population_dictionary = {'Dhaka':22244444,'Khulna':344444444,'Barishal':244444444444442}
population = pd.Series(population_dictionary)
print(population)

Dhaka              22244444
Khulna            344444444
Barishal    244444444444442
dtype: int64

In [53]:
population['Barishal']

244444444444442

In [54]:
population['Dhaka':'Barishal']

Dhaka              22244444
Khulna            344444444
Barishal    244444444444442
dtype: int64

In [55]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [56]:
pd.Series(5,index=[230,232])

230    5
232    5
dtype: int64

In [8]:
area_dict = {
    'Dhaka': 34,            
    'Khulna': 2,           
    'Barishal': 22
}
area = pd.Series(area_dict)

In [9]:
area

Dhaka       34
Khulna       2
Barishal    22
dtype: int64

In [10]:
state = pd.DataFrame({'population':population,'area':area})

In [11]:
state

               population  area
Dhaka            22244444    34
Khulna          344444444     2
Barishal  244444444444442    22

In [6]:
pd.DataFrame(population,columns=['population'])

               population
Dhaka            22244444
Khulna          344444444
Barishal  244444444444442

In [8]:
data = [{'a':i,'b':2*i} for i in range(3)]

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [9]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [10]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [12]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [15]:
pd.DataFrame(np.random.rand(4,5),
            colomns=['foo','bar','aa','bb','cc'],
            index=['a,'b','c','d'])

SyntaxError: unterminated string literal (detected at line 3) (3919845141.py, line 3)

In [17]:
pd.DataFrame(np.random.rand(3, 3),
 columns=['foo', 'bar'],
 index=['a', 'b', 'c','d'])

ValueError: Shape of passed values is (3, 3), indices imply (4, 2)

In [4]:
pd.DataFrame(np.random.rand(2, 9))

,0,1,2,3,4,5,6,7,8
0,0.177057,0.726275,0.007192,0.747900,0.708097,0.288216,0.659146,0.788958,0.006085
1,0.881941,0.979886,0.722353,0.499769,0.677855,0.936244,0.706023,0.674670,0.820624

pd.DataFrame(np.random.rand(2, 9))

In [5]:
pd.DataFrame(np.random.rand(2, 9))

,0,1,2,3,4,5,6,7,8
0,0.865152,0.773781,0.566001,0.208945,0.313237,0.381271,0.863046,0.172542,0.851892
1,0.283772,0.310314,0.477464,0.795854,0.840556,0.581739,0.861814,0.553414,0.415461

In [9]:
ind = pd.index([3,4])

AttributeError: module 'pandas' has no attribute 'index'

In [10]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [11]:
ind[2]

5

In [12]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [13]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [14]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [8]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\null_pTR\Downloads\diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
print(df.to_string())

NameError: name 'df' is not defined

In [7]:
df_json = pd.read_json(r'C:\Users\null_pTR\Downloads\members.json')
df_json

,type,version,comment,name,database,data
0,header,5.2.0,Export to JSON plugin for PHPMyAdmin,NaN,NaN,NaN
1,database,NaN,NaN,coffebuzz,NaN,NaN
2,table,NaN,NaN,members,coffebuzz,"[{'id': '1', 'fname': 'sourav', 'lname': 'das'..."

In [9]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
df.head(55)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
30,5,109,75,26,0,36.0,0.546,60,0
31,3,158,76,36,245,31.6,0.851,28,1
32,3,88,58,11,54,24.8,0.267,22,0
33,6,92,92,0,0,19.9,0.188,28,0
34,10,122,78,31,0,27.6,0.512,45,0
35,4,103,60,33,192,24.0,0.966,33,0
36,11,138,76,0,0,33.2,0.420,35,0
37,9,102,76,37,0,32.9,0.665,46,1
38,2,90,68,42,0,38.2,0.503,27,1
39,4,111,72,47,207,37.1,1.390,56,1
40,3,180,64,25,70,34.0,0.271,26,0
41,7,133,84,0,0,40.2,0.696,37,0
42,7,106,92,18,0,22.7,0.235,48,0
43,9,171,110,24,240,45.4,0.721,54,1
44,7,159,64,0,0,27.4,0.294,40,0
45,0,180,66,39,0,42.0,1.893,25,1
46,1,146,56,0,0,29.7,0.564,29,0
47,2,71,70,27,0,28.0,0.586,22,0
48,7,103,66,32,0,39.1,0.344,31,1
49,7,105,0,0,0,0.0,0.305,24,0
50,1,103,80,11,82,19.4,0.491,22,0
51,1,101,50,15,36,24.2,0.526,26,0
52,5,88,66,21,23,24.4,0.342,30,0
53,8,176,90,34,300,33.7,0.467,58,1
54,7,150,66,42,342,34.7,0.718,42,0

In [13]:
df.tail(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [16]:
df.info() #Info of data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [17]:
dff = pd.read_csv(r'C:\Users\null_pTR\Downloads\diabetes.csv')

In [18]:
dff

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [19]:
new_ddf = ddf.dropna()

NameError: name 'ddf' is not defined

In [22]:
ddf3 = pd.read_csv(r'C:\Users\null_pTR\Downloads\diabetes.csv')
x = ddf3["Glucose"].median()
x

117.0

In [23]:
ddf3["Glucose".fillna(x,inplace = True)]
ddf3

AttributeError: 'str' object has no attribute 'fillna'

In [24]:
ddf3 = pd.read_csv(r'C:\Users\null_pTR\Downloads\diabetes.csv')
x = ddf3["Glucose"].mode()
x

0     99
1    100
Name: Glucose, dtype: int64